.title {
  color: #333;
  padding-bottom: 20px;
  text-align: center;
}
.bounce {
  color: rgb(125, 125, 248);
  text-decoration: underline;
}

@media (max-width: 600px) {
  .grid {
    width: 100%;
    flex-direction: column;
  }
}
